<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ contact.sujet }}</title>
</head>
<body>
Noms   : {{ contact.full_name }}
<br>
Email  : {{ contact.email }}
<br>
Message: "{{ contact.message }}"
<br>
</body>
</html>
